<section class="flex flex-col space-y-5 w-full">
  <header class="text-2xl md:text-3xl font-semibold md:font-bold">Lista de Tareas</header>
  <nav class="flex flex-col md:flex-row justify-start w-full space-y-5 md:space-y-0 md:space-x-5 border-t-2 border-slate-300 pt-4">
    <div class="flex justify-start items-center">
      <span class="text-lg md:text-xl md:font-semibold mr-3"> Filtros: </span>
      <mat-button-toggle-group [(ngModel)]="taskStatus">
        <mat-button-toggle [value]="null">Todas</mat-button-toggle>
        <mat-button-toggle [value]="'completed'">Completadas</mat-button-toggle>
        <mat-button-toggle [value]="'pending'">Pendientes</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <a mat-flat-button color="primary" [routerLink]="['/form']">Nueva Tarea</a>
  </nav>
  <ul class="w-full border-y-2 border-slate-300 py-4 divide-dashed space-y-5">
    @for (task of tasks(); track task.id; let index = $index, last = $last) {
      <li>
        <header class="flex justify-start space-x-4">
          <h6 class="text-lg">
            <span>{{ index + 1 }}.</span> <span class="font-semibold ps-3">{{ task.name }}</span> -
            <small>{{ task.dueDate | date:'yyyy-MM-dd' }}</small>
          </h6>
          @if (task.status === 'pending') {
            <button mat-icon-button color="primary" type="button" matTooltip="Marcar como completada"
                    (click)="markAsCompleted(task)">
              <mat-icon>task</mat-icon>
            </button>
          }
          <a mat-icon-button color="accent" type="button" matTooltip="Editar tarea" [routerLink]="['/form', task.id]">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button color="warn" type="button" matTooltip="Eliminar tarea"
                  (click)="removeTask(task)">
            <mat-icon>delete</mat-icon>
          </button>
        </header>
        <span class="font-semibold text-base">
            Personas Asociadas:
          </span>
        <mat-list>
          @for (people of task.people; track people.name) {
            <mat-list-item>
              <mat-icon matListItemIcon>remove</mat-icon>
              <span matListItemTitle>{{ people.name }} ({{ people.age }})</span>
              @let skills = people.skills.join(', ') ;
              <span matListItemLine>Habilidades: {{ skills | titlecase }}</span>
            </mat-list-item>
          }
        </mat-list>
      </li>
      @if (!last) {
        <mat-divider></mat-divider>
      }
    } @empty {
      <li>
        <span class="font-semibold">No hay tareas</span>
      </li>
    }
  </ul>
</section>
